body{
    background-color: whitesmoke;
}

.secao-topo{
    border-bottom: 1px solid black ;
}

.secao-topo p{
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
}

.secao-largura-limitada{
    width: 800px;
    margin: 0 auto;
}

.background-capa{
    background-image: url('/img/capa.jpg');
    min-height: 500px;
    background-size: cover;
}

.background-conteudo{
    text-align: right;
    padding: 20px 50px;
}

h1,h2,h3{
    margin: 0;
}

.secao-conteudo{
    padding: 50px 20px;
}

.secao-conteudo span{
    border-left: 1px solid;
    padding-left: 10px;
    font-size: 22px;
}

.imagem-conteudo{
    width: 250px;
    height: 180px;
}

.secao-divisao-background{
    padding: 50px 0px;
    background-image: url('/img/fundo.jpg');
    min-height: 10px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat
}

.secao-divisao-background h3{
    text-align: center;
    font-size: 30px;
    background-color: white;
    color: black;
    width: 200px;
    margin: 0px auto;
    border-radius: 20px;
}

